<article class="content-wrapper">
<h4>Politica sui contenuti</h4>
<p>
<ul>
<li>Il Sito non &egrave; in alcun modo responsabile per la non raggiungibilit&agrave; di link esterni.</li>
<li>Tutte i diritti e i marchi sono propriet&agrave; dei rispettivi proprietari o titolari di licenza, in accordo con le relative
licenze di distribuzione.</li>
<li>Il Sito non &egrave; in alcun modo responsabile per le parti di testo citate e/o tradotte da fonti esterne, per eventuali
dubbi fare riferimento alle relative fonti citate.</li>
<li><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/it/"><img alt="Licenza Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/it/88x31.png" /></a><br />Quest&apos; opera &egrave; distribuita con <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/it/">licenza Creative Commons Attribuzione - Non commerciale - Condividi allo stesso modo 3.0 Italia</a>.
</ul>
</p>

</article>